<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>IdDepartamento</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Detalles</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @for(dept of departamentos; track dept){
            <tr>
                <td> {{dept.idDepartamento}} </td>
                <td> {{dept.nombre}} </td>
                <td> {{dept.localidad}} </td>
                <td>
                    <a [routerLink]="['/details', dept.idDepartamento, dept.nombre , dept.localidad]"
                        class="btn btn-info">Details
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/edit', dept.idDepartamento]" class="btn btn-warning">Edit
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteDept(dept.idDepartamento)">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>