<div>
    <form #formCreate="ngForm">
        <label for="">Id Departamento</label>
        <input type="number" class="form-control" name="cajaid" #cajaid>

        <label for="">Nombre</label>
        <input type="string" class="form-control" name="cajanombre" #cajanombre>

        <label for="">Localidad</label>
        <input type="string" class="form-control" name="cajalocalidad" #cajalocalidad>

        <br>

        <button class="btn btn-success">Crear Departamento</button>
    </form>
</div>